<div class="container shadow">
  <div class="row bg">
    <div class="col-xs-12">
      <!-- {{title}} -->
      <h4 class="text-success">Main Screen</h4>
      <hr />
      <app-servers />

      <div class="p-2">
        <p>
          {{ "My Student" }} name is {{ name }}, Age is {{ age }}.
          {{ isMature() }}
        </p>
        <!-- Property Binding - [] and Even Bindind - () -->
        <button
          [disabled]="!allow"
          class="btn btn-outline-success"
          (click)="onRegistrationStatus()"
        >
          Start Registration
        </button>
        <!-- String Interpolation -->
        <p class="text-warning">
          {{ registrationStatus }}
        </p>
      </div>
    </div>
  </div>
</div>
